/****** General ******/
* {
    font-family: "Raleway", sans-serif;
    margin: 0; /* Pour éviter la marge au dessus */
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    /* border: solid 5px goldenrod; */
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/*
main > div {
    Sélecteur avancé trop stylé ;-)
    border: #0065fc solid 2px;
}*/

.main-container {
    display: flex; /* obliger pour utiliser gap*/
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 1440px;
    gap: 30px; /* Pour l'écartement entre header, main, footer*/
    box-sizing: border-box;
}

main {
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    /* border: cyan solid 2px; */
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));
    /* border: pink solid 2px; */
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    /* border: yellowgreen solid 2px; */
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Header ******/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 79px;
    box-sizing: border-box;
    /* border: solid 3px blue; */
}

header img {
    height: 100%;
    padding: 30px 50px;
    box-sizing: border-box;
    /* border: solid 3px red; */
}

nav {
    display: flex;
    box-sizing: border-box;
    padding: 0 50px;
    height: 35px;
    gap: 68px;
    align-items: end;
    /* border: solid 3px blue; */
}

nav a {
    display: flex;
    height: 100%;
}

nav p {
    display: flex;
    height: 100%;
    align-items: end;
    box-sizing: border-box;
    /* border: solid 3px red; */
}

nav p:hover {
    color: var(--main-color);
    border-top: var(--main-color) 2px solid;
}

/****** Recherche et Filtre ******/
.search-and-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 35px;
    /* border: solid 3px green; */
}

.search-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/****** Recherche ******/
.search-bar {
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    height: 49px;
    width: 377px;
    position: relative;
    /* border: solid 2px blue; */
}

.search-icone {
    display: flex;
    flex-direction: row;
    height: 49px;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: black;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px 0px 0px 15px;
    /* border: solid 3px red; */
}

.search-icone i {
    color: black;
    transform: scaleX(1.166) scaleY(1.125);
}

.search-form {
    box-sizing: border-box;
    width: calc(100% - 50px);
    height: 100%;
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 50px;
    /* border: solid 3px black; */
}

.search-input {
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 132px);
    padding-left: 15px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    border-left: none;
    border-right: none;
    border-top: solid 2px var(--main-bg-color);
    border-bottom: solid 2px var(--main-bg-color);
}

.search-button {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 132px;
    background-color: var(--main-color);
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}

.submit02 {
    display: none;
}

/****** Filtre ******/
.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    /* border: solid 3px red; */
}

#search::placeholder {
    color: black;
}

.search-and-filter-title-font {
    font-size: 18px;
    font-weight: bold;
    /* border: 2px solid magenta; */
}

.onglets {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.filter-onglet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
    padding: 4px 19px;
    gap: 10px;
    border-radius: 25px;
    border: solid 2px var(--main-bg-color);
}

.filter-onglet:hover {
    background-color: #deebff;
}

.fa-money-bill-wave {
    transform: scaleX(1.222) scaleY(1.01625);
}

.fa-person {
    transform: scaleX(1.344) scaleY(1.375);
}

.fa-heart {
    transform: scaleX(1.375) scaleY(1.146);
}

.fa-fire {
    transform: scaleX(1.286) scaleY(1.255);
}

/****** Infobar ******/
.infobar {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 10px;
    box-sizing: border-box;
    /* border: solid 3px black; */
}

.infobar i {
    display: flex;
    width: 24px;
    height: 24px;
    min-width: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: var(--filter-bg-color) solid 1px;
}

.infobar p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: solid 3px red; */
}

/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* border: solid 4px purple; */
}

.hebergements-and-populaires > section {
    /* background-color: var(--main-bg-color); */
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    /* border: solid 4px red; */
}

/****** Hebergements ******/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    gap: 30px;
    box-sizing: border-box;
    /* border: solid 2px black; */
}

.hebergements-cards a {
    display: flex;
    box-sizing: border-box;
    width: calc(33% - 20px);
    height: calc(50% - 15px);
    row-gap: 30px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));

    /* border: solid 2px pink; */
}

.hebergement-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height: fit-content; */
    width: 100%;
    padding: 4px;
    gap: 4px;
    padding-bottom: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    /* border: dotted 2px purple; */
}

.hebergement-card img {
    display: flex;
    object-fit: cover;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    /* border: solid 2px green; */
}

.hebergements-cards-text-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
    /* border: solid 2px blue; */
}

/****** Populaires ******/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

/* .populaires-cards .card-subtitle { */
.card-subtitle {
    margin: 0;
    font-size: 14px;
    /* border: solid pink 1px; */
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ******/
.activities {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    height: fit-content;
    gap: 30px;
    box-sizing: border-box;
    /* border: solid 3px pink; */
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    /* border: solid 2px blue; */
}

.activities-cards a {
    width: calc(25% - 30px);
}

.activities-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));
    /* border: solid 2px red; */
}

.activities-card img {
    display: flex;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    height: 380px;
}

.activities-card h3 {
    display: flex;
    align-items: center;
    height: 59px;
    padding-left: 19px;
}

/****** Footer ******/
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    height: fit-content;
    box-sizing: border-box;
    margin: 0 50px;
    /* border: solid 3px blue; */
}

footer div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 15px;
    /* border: solid 3px red; */
}
/****** Media queries ******/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .filter {
        flex-direction: column;
        align-items: start;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-top: 50px; */
        gap: 20px; /* test 01*/
    }

    /* .populaires-title {
        border: pink solid 2px;
    } */

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        height: 146px;
        /* border: pink solid 2px; */
    }

    .populaires-cards a {
        display: flex;
        width: 33%;
        height: 100%;
        align-items: end;
        box-sizing: border-box;
        /* margin-top: 20px; */
        /* border: #0065fc solid 2px; */
    }

    .card {
        height: 100%;
        box-sizing: border-box;
        /* border: red solid 2px; */
    }

    .populaires-cards img {
        height: 100%;
    }

    .activities-card img {
        height: 200px;
    }

    footer {
        margin: 0 50px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        /* border: solid 2px goldenrod; */
        min-width: 320px;
    }

    main {
        padding: 0 0px;
    }

    header {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        /* border: solid 2px purple; */
    }

    header img {
        height: 79px;
        width: 121.09px;
        padding: 30px;
        /* border: solid 2px blue; */
    }

    nav {
        width: 100%;
        height: 36px;
        align-items: start;
        box-sizing: border-box;
        padding: 0 0;
        gap: 0;
        /* border: solid 2px red; */
    }

    nav a {
        display: flex;
        width: 100%;
        height: 100%;
        /* border: solid 2px green; */
    }

    nav p {
        align-items: start;
        justify-content: center;
        width: 100%;
        /* border: solid 2px blue; */
    }

    nav p:hover {
        color: var(--main-color);
        border-bottom: var(--main-color) 2px solid;
        border-top: none;
    }

    /* .main-container {
        padding: 0 20px;
    } */
    /* ---- Barre de recherche ---- */
    .search-and-filter {
        padding: 0 20px;
    }
    .search-bar {
        width: 100%;
        justify-content: center;
        /* border: solid 2px blue; */
    }

    .submit01 {
        display: none;
    }

    .submit02 {
        display: inline-block;
        width: 49px;
        height: 49px;
        background-color: var(--main-color);
        position: absolute;
        top: 0px;
        right: 0px;
        border: none;
        border-radius: 15px;
        /* border: solid 2px blue; */
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .submit02 i {
        color: white;
        transform: scale(1.121);
    }

    .search-form {
        justify-content: center;
    }

    .search-input {
        /* width: calc(100% - 132px); */
        width: calc(100% - 25px);
        border-top: solid 2px var(--main-bg-color);
        border-bottom: solid 2px var(--main-bg-color);
    }

    .onglets {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .filter-onglet {
        width: calc(50% - 10px);
        justify-content: left;
        font-size: 14px;
    }

    /* ---- Hebergements and populaires ---- */
    .hebergements-and-populaires > section {
        /* background-color: var(--main-bg-color); */
        border-radius: 0px;
        gap: 15px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 15px;
        background-color: var(--main-bg-color);
        /* padding-bottom: 300px; */
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 15px;
        /* border: solid 2px blue; */
    }

    .populaires a {
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
        /* border: solid 2px red; */
        margin-top: 0;
    }

    .populaires-cards .card {
        margin-top: 0px;
        height: fit-content;
        width: 100%;
        /* border: solid 2px green; */
    }

    .populaires-cards img {
        height: 146px;
        /* border: solid 2px pursple; */
    }

    .hebergements-cards {
        gap: 15px;
    }

    .hebergements {
        background-color: white;
        flex-direction: column;
    }

    .hebergements a {
        width: 100%;
        height: 207.25px;
    }

    .activities-cards {
        flex-direction: column;
    }

    .activities-cards a {
        width: 100%;
    }

    footer {
        padding: 30px;
        margin: 0;
        gap: 50px;
        flex-direction: column;
    }
}
